.sardines-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #1a1a1a;
}

.background-image {
  position: relative;
  width: 100%; /* Make the image width 100% of the container */
  height: 100%; /* Make the image height 100% of the container */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  background-color: #000;
  padding: 30px;
  border-radius: 15px;
}

.heading {
  font-size: 2rem;
  color: #ff6e6e;
  margin-bottom: 20px;
}

.go-back-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff6e6e;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.go-back-link:hover {
  background-color: #e05454;
}
